.error{
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    align-items     : center;
    font-size       : 2rem ;
    font-family     : 'Yusei Magic', sans-serif;
    color           : #ff0059;
    font-weight     : bold ;
}