@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
a{
  text-decoration: none;
  color: inherit;
};

/* 
    "*" sign below line represnts "for all element"
    we have given "border-box" to box-sizing beacuse of padding and margin 
    in email and pass we are facing allignment issue 
*/
*{
  box-sizing: border-box;
  font-family: 'Yusei Magic', sans-serif;
  }