.background-image{
    background-position: 50% 10%;
    min-height:  89.5vh;
    background-size: cover;
    filter: brightness(0.8);
    @media screen and (max-width: 1000px) {
        filter: brightness(1.3);
    }
}

.home-header{
    display         : flex;
    justify-content : center;
    font-size       : 4rem;
    font-weight     : 800;
    color           : brown;
    font-family     : 'Yusei Magic', sans-serif;
    @media screen and (max-width: 1000px) {
        padding-top      : 20px ;
        font-size        : 2rem;
        color            : black
    }
    @media screen and (max-width: 500px) {
        font-size       : 1.8rem;
    }
}

.home-subheader{
        display         : flex;
        font-size       : 2rem;
        color           : rgb(0, 0, 0);
        font-family     : 'Yusei Magic', sans-serif;
        padding         : 30px;
        font-weight     : 800;
        @media screen and (max-width: 1000px) {
            display: none
        }
}
.home-content{
    width               : fit-content;
    display             : flex;
    flex-direction      : column ;
    margin              : 0px 40px;
    font-size           : 2rem ;
    color               : cornflowerblue;
    font-weight         : 800;
    font-family         : 'Yusei Magic', sans-serif;
    li:hover {
        color               : rgb(241, 94, 156);
        cursor              : pointer;
    }
    @media screen and (max-width: 1000px) {
        margin-top       : 5vh;
        color            : brown;
        font-size        : 1.5rem ;
    }
}